version: "3.9"

services:
  app:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:17
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
